# Supabase Cloud Authentication & Database Configuration for Vite Frontend
VITE_SUPABASE_URL=https://nyxkejxtcripgpqyqwoq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55eGtlanh0Y3JpcGdwcXlxd29xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMjgxNjUsImV4cCI6MjEwMjkwNDE2NX0.FUissOdDW1TS64ts-EYRyMj3uvCnK3p4FV5kKXwKs68

# Backend API URL (default is http://localhost:8000)
VITE_API_URL=http://localhost:8000
